* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  font-size: 50%;
}

body {
  font-family: "Poppins", sans-serif;
  transition: 0.3s all;
  overflow: hidden;
}

:root {
  --sidebar-bgcolor: #1b1d21;
  --primary-color: #ffff;
  --logo-border: #2b2e34;
}

.main-container {
  display: flex;
}

.side-bar {
  background: var(--sidebar-bgcolor);
  color: var(--primary-color);
  height: 100vh;
  flex-shrink: 0;
  width: 8rem;
  text-align: center;
  padding: 4rem 0rem;
  border-right: 1px solid var(--logo-border);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 4rem;
  margin: 0 1rem;
  padding-top: 1rem;
  background: var(--logo-border);
  border-radius: 2rem;
  margin-bottom: 2rem;
}

.icons {
  padding: 1.2rem 0;
  color: var(--primary-color);
  position: relative;
}

.logout_icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2.4rem;
  gap: 4rem;
  cursor: pointer;
}

.icon {
  width: 8rem;
  font-size: 2.4rem;
  color: #fff;
}

.sidebar::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 3.8rem;
  background: #fff;
  left: 0;
  top: 1rem;
}

a.active::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 3.8rem;
  background: #fff;
  left: 0;
  top: 1rem;
}

.icon:hover::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 3.8rem;
  background: #fff;
  left: 0;
  top: 1rem;
}

/* ----------------------------------------------------------- */

.sidebar_main {
  padding: 2.1rem 0;
  width: 28rem;
  height: 100vh;
  background: var(--sidebar-bgcolor);
  text-align: center;
}

.search_cont {
  height: 7rem;
  border-bottom: 1px solid var(--logo-border);
}

.search {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2.4rem;
  justify-content: center;
  background: var(--logo-border);
  margin: 0 2rem;
  border-radius: 1.2rem;
}

.search_icon {
  color: var(--primary-color);
  font-size: 2rem;
}

.search input {
  height: 2.8rem;
  outline: none;
  border: none;
  background: var(--logo-border);
  font-size: 1.4rem;
  color: var(--primary-color);
}

.project_name {
  color: var(--primary-color);
  text-decoration: none;
}
.dark_icon {
  font-size: 1.6rem;
}

/*  */
.user_link {
  text-decoration: none;
  color: var(--primary-color);
}

.work_link {
  color: var(--primary-color);
  text-decoration: none;
  margin-right: 7rem;
  font-size: 2.2rem;
  color: #858484;
  padding-bottom: 2.6rem;
  position: relative;
}

.work_link:hover {
  border-bottom: 2px solid var(--primary-color);
}

.work_img {
  width: 100%;
  border-radius: 50%;
}

.box {
  background: transparent;
  outline: none;
  border: none;
  font-size: 2rem;
  color: #737070;
  font-weight: 600;
  cursor: pointer;
  position: relative;
}

.box:hover {
  color: #fff;
}

.box:hover::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #fff;
  left: 0;
  bottom: -2.2rem;
  transition: 0.3s ease-in-out;
}

.box_active {
  background: transparent;
  outline: none;
  border: none;
  font-size: 2rem;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  position: relative;
}

.box_active::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #fff;
  left: 0;
  bottom: -2.2rem;
  transition: 0.3s ease-in-out;
}
